<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.packsystem.Panop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathGame">
        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:exported="false"/>
        <activity
            android:name=".ActivityMagthGameMultiplied05"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMultiplied04"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMultiplied03"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMultiplied02"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMultiplied"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMinus05"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMinus04"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMinus03"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMinus02"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGameMinus"
            android:exported="false" />
        <activity
            android:name=".ActivityMathScore"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGamePlus05"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGamePlus04"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGamePlus03"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGamePlus02"
            android:exported="false" />
        <activity
            android:name=".ActivityMagthGamePlus"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>